<div>
  <nz-card nzTitle="用户管理">
    <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
      <div nz-col>
        <!--
        <label for="stage">阶段：</label>
        <nz-select id="stage" [(ngModel)]="stage" nzPlaceHolder="全部" class="stage-select">
          <ng-container *ngFor="let stage of stageOption">
            <nz-option [nzValue]="stage.value" [nzLabel]="stage.label"></nz-option>
          </ng-container>
        </nz-select>
        -->
        <label for="username">姓名/手机号：</label>
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            nz-input
            class="width-lg"
            [(ngModel)]="username"
            (keyup.enter)="search()"
            id="username"
            name="username"
            placeholder="请输入姓名或手机号关键字"
          />
        </nz-input-group>
        <ng-template #suffixTemplate
          ><i
            nz-icon
            nz-tooltip
            class="ant-input-clear-icon"
            nzTheme="fill"
            nzType="close-circle"
            *ngIf="username"
            (click)="username = ''"
            title="删除"
          ></i
        ></ng-template>
        <button (click)="search()" nz-button class="ml-sm">查询</button>
      </div>
      <div nz-col>
        <button nzType="primary" (click)="addUser()" nz-button>新增用户</button>
      </div>
    </div>
  </nz-card>
  <nz-card>
    <nz-table
      #usersTable
      [nzData]="users"
      [nzSize]="'middle'"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzShowTotal]="totalTemplate"
      [nzShowQuickJumper]="true"
      [nzShowSizeChanger]="true"
      [nzLoading]="tableLoading"
      [nzLoadingDelay]="2"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="getUers()"
      (nzPageSizeChange)="getUers()"
    >
      <thead>
        <tr>
          <th [nzWidth]="'70px'">序号</th>
          <th [nzWidth]="'100px'">用户姓名</th>
          <th [nzWidth]="'180px'">手机号</th>
          <th [nzWidth]="'160px'">角色</th>
          <th [nzWidth]="'200px'">录入时间</th>
          <th [nzWidth]="'260px'">当前所在阶段</th>
          <th [nzWidth]="'380px'">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersTable.data; let i = index">
          <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
          <td>{{ user.realName }}</td>
          <td>{{ user.phoneNum }}</td>
          <td>{{ user.idRole }}</td>
          <td>{{ user.startTime }}</td>
          <td>{{ user.dataState }}</td>
          <td>
            <button nz-button nzType="link" (click)="viewProcess(user)">查看流程</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="link" (click)="updateUser(user)">修改</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="link" (click)="resetPassword(user)">重置密码</button>
            <nz-divider nzType="vertical"></nz-divider>
            <!--
            <button
              [disabled]="user.disabled"
              nz-button
              nzType="link"
              (click)="deleteUser(user)"
              [title]="user.disabled ? '不能删除自己' : '删除用户' + user.name"
            >
              删除
            </button>
            -->
            <button nz-button nzType="link" (click)="deleteUser(user)" [title]="'删除用户'">
              删除
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total>共 {{ total }} 条</ng-template>
  </nz-card>
</div>
