<nz-table
  #processesTable
  [nzData]="processes"
  [nzShowPagination]="false"
  [nzSize]="'middle'"
  [nzLoading]="tableLoading"
  [nzLoadingDelay]="2"
>
  <thead>
    <tr>
      <th [nzWidth]="'70px'">序号</th>
      <th [nzWidth]="'180px'">阶段</th>
      <th [nzWidth]="'150px'">步骤</th>
      <th [nzWidth]="'150px'">结果</th>
      <th [nzWidth]="'150px'">完成状态</th>
      <th [nzWidth]="'180px'">完成时间</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let process of processesTable.data; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ process?.stageName }}</td>
      <td>{{ process?.nodeName }}</td>
      <td>{{ process?.result }}</td>
      <!-- 待开始：#E41E35 -1
        进行中：#25B5BC 0
        已完成：#37464D 1 -->
      <td [ngSwitch]="process?.dataState">
        <nz-tag [nzColor]="'#e41e35'" *ngSwitchCase="process?.dataState === -1">{{
          process?.dataState | nodeStatus
        }}</nz-tag>
        <nz-tag [nzColor]="'#25b5bc'" *ngSwitchCase="process?.dataState === 0">{{
          process?.dataState | nodeStatus
        }}</nz-tag>
        <nz-tag [nzColor]="'#37464d'" *ngSwitchDefault>{{ process?.dataState | nodeStatus }}</nz-tag>
      </td>
      <td>{{ process?.endTime }}</td>
    </tr>
  </tbody>
</nz-table>
