<div>
  <nz-card nzTitle="角色管理">
    <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
      <div nz-col>
        <label for="name">角色名称：</label>
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            nz-input
            class="width-md"
            [(ngModel)]="name"
            (keyup.enter)="search()"
            id="name"
            name="name"
            autocomplete="off"
            placeholder="请输入角色名称关键字"
          />
        </nz-input-group>
        <ng-template #suffixTemplate
          ><i
            nz-icon
            nz-tooltip
            class="ant-input-clear-icon"
            nzTheme="fill"
            nzType="close-circle"
            *ngIf="name"
            (click)="name = ''"
            title="删除"
          ></i
        ></ng-template>
        <button (click)="search()" nz-button class="ml-sm">查询</button>
      </div>
      <div nz-col>
        <button nzType="primary" (click)="addOrUpdate()" nz-button>新增</button>
      </div>
    </div>
  </nz-card>
  <nz-card>
    <nz-table
      #rolesTable
      [nzData]="roles"
      [nzSize]="'middle'"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzShowTotal]="totalTemplate"
      [nzShowQuickJumper]="true"
      [nzShowSizeChanger]="true"
      [nzLoading]="tableLoading"
      [nzLoadingDelay]="2"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="getRoles()"
      (nzPageSizeChange)="getRoles()"
    >
      <thead>
        <tr>
          <th class="index">序号</th>
          <th class="id">角色ID</th>
          <th class="name">角色名称</th>
          <th class="status">角色状态</th>
          <th class="handle">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of rolesTable.data; let i = index">
          <td class="index">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
          <td class="id">{{ role?.idRole }}</td>
          <td class="name">{{ role?.roleName }}</td>
          <td class="status" [ngSwitch]="role?.dataState">
            <nz-tag [nzColor]="'#ff6112'" *ngSwitchCase="role?.dataState === 2">{{ role?.dataState | status }}</nz-tag>
            <nz-tag [nzColor]="'#ffa742'" *ngSwitchCase="role?.dataState === 0">{{ role?.dataState | status }}</nz-tag>
            <nz-tag [nzColor]="'#10B6B4'" *ngSwitchDefault>{{ role?.dataState | status }}</nz-tag>
          </td>
          <td class="handle">
            <button nz-button nzType="link" (click)="addOrUpdate(role)">修改</button>
            <nz-divider nzType="vertical" *ngIf="currentUserInfo.roleId === 1"></nz-divider>
            <button
              *ngIf="currentUserInfo.roleId === 1"
              nz-button
              nzType="link"
              [disabled]="role?.idRole === 1"
              [title]="role?.idRole === 1 ? '不能删除管理员角色' : '删除角色'"
              (click)="deleteRole(role)"
            >
              删除
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total>共 {{ total }} 条</ng-template>
  </nz-card>
</div>
