<form nz-form [formGroup]="form" (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="8" [nzFor]="'role'" nzRequired>角色</nz-form-label>
    <nz-form-control [nzSm]="20" [nzXs]="16" [nzErrorTip]="roleErrorTpl">
      <nz-select id="role" formControlName="role" nzPlaceHolder="请选择一个角色">
        <ng-container *ngFor="let role of roles">
          <nz-option
            [nzValue]="role?.idRole"
            [nzDisabled]="role?.idRole === 1"
            [title]="role?.idRole === 1 ? '不能选择管理员' : ''"
            [nzLabel]="role?.roleName"
          ></nz-option>
        </ng-container>
      </nz-select>
      <ng-template #roleErrorTpl let-role>
        <ng-container *ngIf="role.hasError('required')">
          角色是必选项!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="8" [nzFor]="'name'" nzRequired>姓名</nz-form-label>
    <nz-form-control [nzSm]="20" [nzXs]="16" [nzErrorTip]="nameErrorTpl">
      <input nz-input formControlName="name" required id="name" placeholder="请输入姓名" />
      <ng-template #nameErrorTpl let-name>
        <ng-container *ngIf="name.hasError('required')">
          姓名是必填项!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="8" [nzFor]="'phone'" nzRequired>电话</nz-form-label>
    <nz-form-control [nzSm]="20" [nzXs]="16" [nzErrorTip]="phoneErrorTpl">
      <input formControlName="phone" name="phone" id="phone" nz-input placeholder="请输入电话" />
      <ng-template #phoneErrorTpl let-phone>
        <ng-container *ngIf="phone.hasError('required')">
          电话是必填项!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <div class="text-right">
    <button nz-button type="button" (click)="cancel()" [nzLoading]="uploading">
      取消
    </button>
    <button nz-button [nzType]="'primary'" [disabled]="!form.valid" type="submit" [nzLoading]="uploading">
      确认
    </button>
  </div>
</form>
