<div>
  <nz-card>
    <div class="card-head">业务操作日志管理</div>
  </nz-card>
  <nz-card>
    <nz-table
      #logsTable
      [nzData]="logs"
      [nzSize]="'middle'"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzShowTotal]="totalTemplate"
      [nzShowQuickJumper]="true"
      [nzShowSizeChanger]="true"
      [nzLoading]="tableLoading"
      [nzLoadingDelay]="2"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="getOperationLogs()"
      (nzPageSizeChange)="getOperationLogs()"
    >
      <thead>
        <tr>
          <th class="index" [nzWidth]="'70px'">序号</th>
          <th class="id" [nzWidth]="'70px'">日志ID</th>
          <th class="name" [nzWidth]="'130px'">姓名</th>
          <th class="content" [nzWidth]="'370px'">日志内容</th>
          <th class="time" [nzWidth]="'150px'">操作时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of logsTable.data; let i = index">
          <td class="index">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
          <td class="id">{{ log?.idLog }}</td>
          <td class="name">{{ log?.realName }}</td>
          <td class="content">{{ log?.content }}</td>
          <td class="time">{{ log?.logTime }}</td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total>共 {{ total }} 条</ng-template>
  </nz-card>
</div>
