<div>
  <nz-card nzTitle="阶段步骤管理">
    <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
      <div nz-col>
        <label for="stage">阶段：</label>
        <nz-select id="stage" [(ngModel)]="stage" [nzAllowClear]="true" nzPlaceHolder="全部" class="stage-select">
          <ng-container *ngFor="let stage of stages">
            <nz-option [nzValue]="stage?.idStage" [nzLabel]="stage?.stageName"></nz-option>
          </ng-container>
        </nz-select>
        <button (click)="search()" nz-button class="ml-sm">查询</button>
      </div>
      <div nz-col>
        <button nzType="primary" (click)="addOrUpdateStage()" nz-button>新增</button>
      </div>
    </div>
  </nz-card>
  <nz-card>
    <nz-table
      #stepTable
      [nzData]="steps"
      [nzSize]="'middle'"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzShowTotal]="totalTemplate"
      [nzShowQuickJumper]="true"
      [nzShowSizeChanger]="true"
      [nzLoading]="tableLoading"
      [nzLoadingDelay]="2"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="getSteps()"
      (nzPageSizeChange)="getSteps()"
    >
      <thead>
        <tr>
          <th class="index" [nzWidth]="'70px'">序号</th>
          <th class="stage" [nzWidth]="'170px'">阶段</th>
          <th class="step" [nzWidth]="'140px'">步骤</th>
          <th class="type" [nzWidth]="'70px'">步骤类型</th>
          <th class="duration" [nzWidth]="'70px'">本阶段时常(天)</th>
          <th class="same-pre-step" [nzWidth]="'120px'">是否与上一阶段同时开始</th>
          <th class="status" [nzWidth]="'70px'">数据状态</th>
          <th class="handle" [nzWidth]="'220px'">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let step of stepTable.data; let i = index">
          <td class="index">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
          <td class="stage">{{ step?.stageName }}</td>
          <td class="step">{{ step?.name }}</td>
          <td class="type">{{ step?.nodeBizType | type }}</td>
          <!-- 提醒办理1,等待批复2 -->
          <td class="duration">{{ step?.duration }}</td>
          <td class="same-pre-step">{{ step?.isBeginPreNode | is }}</td>
          <td class="status" [ngSwitch]="step?.dataState">
            <nz-tag [nzColor]="'#ff6112'" *ngSwitchCase="step?.dataState === 2">{{ step?.dataState | status }}</nz-tag>
            <nz-tag [nzColor]="'#ffa742'" *ngSwitchCase="step?.dataState === 0">{{ step?.dataState | status }}</nz-tag>
            <nz-tag [nzColor]="'#10B6B4'" *ngSwitchDefault>{{ step?.dataState | status }}</nz-tag>
          </td>
          <td class="handle">
            <button nz-button nzType="link" (click)="reminder(step)">提醒事项管理</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="link" (click)="addOrUpdateStage(step)">修改</button>
            <nz-divider nzType="vertical" *ngIf="currentUserInfo.roleId === 1"></nz-divider>
            <button nz-button nzType="link" *ngIf="currentUserInfo.roleId === 1" (click)="deleteStep(step)">
              删除
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total>共 {{ total }} 条</ng-template>
  </nz-card>
</div>
