<nz-card nzBordered="false" [nzTitle]="'文档标注'" [nzExtra]="extraTmplate">
  <ng-template #extraTmplate>
    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col>
        <a [routerLink]="['/role']"> <i nz-icon nzType="rollback" nzTheme="outline"></i> 返回 </a>
      </div>
    </div>
  </ng-template>
  <div class="container">
    <div class="file-container">
      <!-- <div class="file-head-container">{{ title }}</div> -->
      <h4 nz-typography class="file-head-container">{{ title }}</h4>
      <div class="file-body-container">
        <ng-container *ngFor="let text of textArray; let i = index">
          <p nz-typography (mouseup)="selectionText(i)" [innerHTML]="text"></p>
        </ng-container>
      </div>
    </div>
    <div class="question-container">
      <nz-collapse *ngIf="labelQuestions.length">
        <nz-collapse-panel
          *ngFor="let labelQuestion of labelQuestions; let i = index"
          [nzExtra]="extraTpl"
          [nzHeader]="collapseHeader"
          [nzActive]="labelQuestion.isOpen"
        >
          <ul class="question-list" *ngIf="labelQuestion.questions.length">
            <li class="question-item" *ngFor="let questionObj of labelQuestion.questions; let m = index">
              <span class="question-index">问题{{ m + 1 }}: </span>
              <div class="question-content">{{ questionObj.question }}</div>
              <div class="question-handle">
                <button
                  type="button"
                  title="编辑该问题"
                  nz-icon
                  nzType="edit"
                  nzTheme="outline"
                  (click)="updateQuestion(questionObj, labelQuestion)"
                ></button>
                <nz-divider nzType="vertical"></nz-divider>
                <button
                  type="button"
                  nz-popconfirm
                  nzPopconfirmTitle="你确定要删除该问题吗?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteQuestion(questionObj, labelQuestion)"
                  nz-icon
                  nzType="close"
                  nzTheme="outline"
                  [disabled]="labelQuestion.questions.length === 1"
                  [class.disabled]="labelQuestion.questions.length === 1"
                  [title]="labelQuestion.questions.length === 1 ? '不能删除唯一的问题' : '删除该问题'"
                ></button>
              </div>
            </li>
          </ul>

          <ng-template #collapseHeader>
            <div class="answer-container" [title]="labelQuestion.answer">
              <span class="answer-index" title="序号: {{ i + 1 }}">{{ i + 1 }}.</span>
              <span class="answer">答案: {{ labelQuestion.answer }}</span>
            </div>
          </ng-template>
          <ng-template #extraTpl>
            <a
              nz-icon
              nzType="plus"
              nzTheme="outline"
              title="为该答案添加问题"
              (click)="addQuestion(labelQuestion)"
            ></a>
            <nz-divider nzType="vertical"></nz-divider>
            <a
              nz-icon
              nzType="delete"
              nzTheme="outline"
              title="删除该问答对"
              (click)="deleteQuestionAndLog(labelQuestion)"
            ></a>
          </ng-template>
        </nz-collapse-panel>
      </nz-collapse>
      <nz-empty *ngIf="!labelQuestions.length" [nzNotFoundContent]="'暂无问答数据，请滑选文档内容后添加'"></nz-empty>
    </div>
  </div>
</nz-card>
