<div>
  <nz-card nzTitle="定时任务日志管理">
    <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
      <div nz-col>
        <label for="stage">阶段：</label>
        <nz-select
          id="stage"
          [(ngModel)]="stage"
          [nzAllowClear]="true"
          nzPlaceHolder="全部"
          class="stage-select"
          (ngModelChange)="onChangeStage($event)"
        >
          <ng-container *ngFor="let stage of stages">
            <nz-option [nzValue]="stage?.idStage" [nzLabel]="stage?.stageName"></nz-option>
          </ng-container>
        </nz-select>

        <label for="step" class="ml-md">步骤：</label>
        <nz-select
          id="step"
          [(ngModel)]="step"
          nzPlaceHolder="全部"
          class="step-select"
          (ngModelChange)="onChangeStep($event)"
        >
          <ng-container *ngFor="let step of steps">
            <nz-option [nzValue]="step.idNode" [nzLabel]="step.name"></nz-option>
          </ng-container>
        </nz-select>

        <label for="status" class="ml-md">状态：</label>
        <nz-select
          id="status"
          [(ngModel)]="status"
          nzPlaceHolder="全部"
          class="status-select"
          (ngModelChange)="onChangeStep($event)"
        >
          <ng-container *ngFor="let status of statusOptions">
            <nz-option [nzValue]="status.value" [nzLabel]="status.label"></nz-option>
          </ng-container>
        </nz-select>
        <button (click)="search()" nz-button class="ml-sm">查询</button>
      </div>
      <div nz-col>
        <button nzType="primary" (click)="add()" nz-button>手动新增临时提醒任务</button>
      </div>
    </div>
  </nz-card>
  <nz-card>
    <nz-table
      #logsTable
      [nzData]="remindLogs"
      [nzSize]="'middle'"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzShowTotal]="totalTemplate"
      [nzShowQuickJumper]="true"
      [nzShowSizeChanger]="true"
      [nzLoading]="tableLoading"
      [nzLoadingDelay]="2"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="getReminds()"
      (nzPageSizeChange)="getReminds()"
    >
      <thead>
        <tr>
          <th class="index" [nzWidth]="'70px'">序号</th>
          <th class="stage" [nzWidth]="'70px'">阶段</th>
          <th class="step" [nzWidth]="'110px'">步骤</th>
          <th class="reminder" [nzWidth]="'370px'">提醒事项</th>
          <th class="role" [nzWidth]="'170px'">被提醒角色</th>
          <th class="type" [nzWidth]="'170px'">提醒类型</th>
          <th class="content" [nzWidth]="'170px'">提醒内容</th>
          <th class="plan-date" [nzWidth]="'170px'">计划提醒日期</th>
          <th class="status" [nzWidth]="'170px'">数据状态</th>
          <th class="handle" [nzWidth]="'170px'">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of logsTable.data; let i = index">
          <td class="index">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
          <td class="stage">{{ log?.stageName }}</td>
          <td class="step">{{ log?.nodeName }}</td>
          <td class="reminder">{{ log?.reminder }}</td>
          <td class="role">{{ log?.idManageUser }}</td>
          <td class="type">{{ log?.remindType }}</td>
          <td class="content">{{ log?.content }}</td>
          <td class="plan-date">{{ log?.planDate }}</td>
          <td class="status">{{ log?.dataState }}</td>
          <td class="handle">
            <!-- <button nz-button nzType="link" (click)="lockOrUnlockRemind(remind)" *ngIf="currentUserInfo.roleId === 1">
              {{ remind.dataState === 0 ? '解锁' : '锁定' }}
            </button> -->
            <!-- <nz-divider nzType="vertical"></nz-divider> -->
            <!-- <button nz-button nzType="link" (click)="deleteRemind(remind)" [disabled]="remind.inuse === 1">删除</button> -->
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total>共 {{ total }} 条</ng-template>
  </nz-card>
</div>
