<form nz-form [formGroup]="form" (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="7" [nzFor]="'modelQuestion'" nzRequired>问题</nz-form-label>
    <nz-form-control [nzSm]="21" [nzXs]="17" [nzErrorTip]="questionErrorTpl">
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="18">
          <textarea
            formControlName="question"
            name="modelQuestion"
            id="modelQuestion"
            nz-input
            [nzAutosize]="{ minRows: 1, maxRows: 5 }"
            placeholder="请输入问题"
            required
          ></textarea>
        </div>
        <div nz-col [nzSpan]="6">
          <button
            nz-button
            type="button"
            nzType="link"
            [disabled]="!form.get('question').value"
            (click)="recommendAnswer(form.get('question').value)"
            [title]="form.get('question').value ? '根据输入的问题推荐答案' : '请先输入问题'"
          >
            推荐答案
          </button>
        </div>
      </div>
      <ng-template #questionErrorTpl let-question>
        <ng-container *ngIf="question.hasError('required')">
          问题是必填项!
        </ng-container>
        <ng-container *ngIf="question.hasError('pattern')">
          问题至多输入 100 字!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="7" [nzFor]="'answer'" nzRequired>答案</nz-form-label>
    <nz-form-control [nzSm]="21" [nzXs]="17" [nzErrorTip]="answerErrorTpl">
      <textarea
        formControlName="answer"
        name="answer"
        id="answer"
        nz-input
        [nzAutosize]="{ minRows: 3, maxRows: 10 }"
        placeholder="请输入答案"
      ></textarea>
      <ng-template #answerErrorTpl let-answer>
        <ng-container *ngIf="answer.hasError('required')">
          答案是必填项!
        </ng-container>
        <ng-container *ngIf="answer.hasError('pattern')">
          答案至多输入 10000 字!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <div class="text-right">
    <button nz-button type="button" (click)="cancel()" [nzLoading]="uploading">
      取消
    </button>
    <button nz-button [nzType]="'primary'" [disabled]="!form.valid" type="submit" [nzLoading]="uploading">
      确认
    </button>
  </div>
</form>
