<form [formGroup]="form" (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-label class="answer-form-label" nzSpan="4">答案</nz-form-label>
    <nz-form-control class="answer-form-control" nzSpan="20" [title]="selectedText">
      <div class="answer">{{ selectedText }}</div>
      <div class="tip" *ngIf="selectedText.length > 10000">答案至多划选 10000 字</div>
    </nz-form-control>
  </nz-form-item>
  <section *ngFor="let control of listOfControl; let i = index">
    <nz-form-item class="question-type-form-item">
      <nz-form-label nzSpan="4">问题类型</nz-form-label>
      <nz-form-control nzSpan="20">
        <nz-cascader
          class="question-type-cascader"
          [nzExpandTrigger]="'hover'"
          [nzOptions]="questionTypeOptions"
          [attr.id]="control.id + 1"
          formControlName="{{ control.questionTypeInstance }}"
          nzPlaceHolder="请选择问题类型"
          (ngModelChange)="changeQuestionType($event, control.id)"
        >
        </nz-cascader>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="question-form-item">
      <nz-form-label nzSpan="4" [nzFor]="control.questionInstance" nzRequired>问题</nz-form-label>
      <nz-form-control nzSpan="20" [nzErrorTip]="questionErrorTpl">
        <textarea
          class="question-input"
          nz-input
          required
          placeholder="请填写问题"
          [attr.id]="control.id + 1"
          id="control.questionInstance"
          (change)="changeQuestion(control.questionInstance, control.id)"
          [nzAutosize]="{ minRows: 1, maxRows: 4 }"
          formControlName="{{ control.questionInstance }}"
        ></textarea>
        <i
          *ngIf="control.id >= 1"
          nz-icon
          nzType="minus-circle"
          class="dynamic-delete-button"
          title="删除该组问题类型和问题"
          (click)="removeField(control, $event)"
        ></i>
        <i
          *ngIf="control.id < 1"
          nz-icon
          nzType="plus-circle"
          class="dynamic-add-button"
          title="添加一组问题类型和问题"
          (click)="addField($event)"
        ></i>
        <ng-template #questionErrorTpl let-question>
          <ng-container *ngIf="question.hasError('required')"> 问题必填 </ng-container>
          <ng-container *ngIf="question.hasError('pattern')"> 问题至多输入 100 字 </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </section>
  <div class="text-right">
    <button nz-button type="button" (click)="cancel()" [nzLoading]="uploading">取消</button>
    <button
      nz-button
      [nzType]="'primary'"
      type="submit"
      [disabled]="!form.valid || selectedText.length > 10000"
      [nzLoading]="uploading"
    >
      确认
    </button>
  </div>
</form>
