:host {
  ::ng-deep {
    table {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-spacing: 0;
      @media (min-width: 1280px) {
        .index {
          width: 68px;
        }
        .name {
          width: 150px;
        }
        .upload-time {
          width: 168px;
        }
        .label-time {
          width: 168px;
        }
        .operator {
          width: 108px;
        }
        .handle {
          width: 170px;
        }
      }
      @media (min-width: 1440px) {
        .index {
          width: 70px;
        }
        .name {
          width: 210px;
        }
        .upload-time {
          width: 170px;
        }
        .label-time {
          width: 170px;
        }
        .operator {
          width: 110px;
        }
        .handle {
          width: 172px;
        }
      }
      @media (min-width: 1600px) {
        .index {
          width: 72px;
        }
        .name {
          width: 274px;
        }
        .upload-time {
          width: 172px;
        }
        .label-time {
          width: 172px;
        }
        .operator {
          width: 112px;
        }
        .handle {
          width: 174px;
        }
      }
      @media (min-width: 1760px) {
        .index {
          width: 74px;
        }
        .name {
          width: 296px;
        }
        .upload-time {
          width: 174px;
        }
        .label-time {
          width: 174px;
        }
        .operator {
          width: 114px;
        }
        .handle {
          width: 176px;
        }
      }
      @media (min-width: 1920px) {
        .index {
          width: 76px;
        }
        .name {
          width: 320px;
        }
        .upload-time {
          width: 176px;
        }
        .label-time {
          width: 176px;
        }
        .operator {
          width: 116px;
        }
        .handle {
          width: 178px;
        }
      }
    }
  }
}
