<div>
  <nz-card nzTitle="提醒配置管理">
    <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
      <div nz-col>
        <label for="stage">阶段：</label>
        <nz-select
          id="stage"
          [(ngModel)]="stage"
          nzPlaceHolder="全部"
          class="stage-select"
          (ngModelChange)="onChangeStage($event)"
        >
          <ng-container *ngFor="let stage of stages">
            <nz-option [nzValue]="stage.idStage" [nzLabel]="stage.stageName"></nz-option>
          </ng-container>
        </nz-select>

        <label for="step" class="ml-md">步骤：</label>
        <nz-select
          id="step"
          [(ngModel)]="step"
          nzPlaceHolder="全部"
          class="step-select"
          (ngModelChange)="onChangeStep($event)"
        >
          <ng-container *ngFor="let step of steps">
            <nz-option [nzValue]="step.idNode" [nzLabel]="step.name"></nz-option>
          </ng-container>
        </nz-select>

        <button (click)="search()" nz-button class="ml-md">查询</button>
      </div>
      <div nz-col>
        <button nzType="primary" (click)="addOrUpdateRemind()" nz-button>新增提醒配置</button>
      </div>
    </div>
  </nz-card>
  <nz-card>
    <nz-table
      #remindsTable
      [nzData]="reminds"
      [nzSize]="'middle'"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzShowTotal]="totalTemplate"
      [nzShowQuickJumper]="true"
      [nzShowSizeChanger]="true"
      [nzLoading]="tableLoading"
      [nzLoadingDelay]="2"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="getReminds()"
      (nzPageSizeChange)="getReminds()"
    >
      <thead>
        <tr>
          <th class="index" [nzWidth]="'60px'">序号</th>
          <th class="stage" [nzWidth]="'170px'">阶段</th>
          <th class="step" [nzWidth]="'120px'">步骤</th>
          <th class="reminder" [nzWidth]="'100px'">提醒事项</th>
          <th class="role" [nzWidth]="'110px'">需提醒角色</th>
          <th class="remind-type" [nzWidth]="'120px'">提醒类型</th>
          <th class="content" [nzWidth]="'150px'">提醒内容</th>
          <th class="remind-lead-day" [nzWidth]="'80px'">提前提醒天数</th>
          <th class="remind-batch-num" [nzWidth]="'60px'">提醒批次</th>
          <th class="interval-duration" [nzWidth]="'80px'">每批间隔天数</th>
          <th class="remind-times" [nzWidth]="'60px'">每次次数</th>
          <th class="status" [nzWidth]="'80px'">数据状态</th>
          <th class="handle" [nzWidth]="'180px'">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let remind of remindsTable.data; let i = index">
          <td class="index">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
          <td class="stage">{{ remind?.stageName }}</td>
          <td class="step">{{ remind?.nodeName }}</td>
          <td class="reminder">{{ remind?.reminder }}</td>
          <td class="role">{{ remind?.roleName }}</td>
          <td class="remind-type">{{ remind?.remindType }}</td>
          <td class="content">{{ remind?.content }}</td>
          <td class="remind-lead-day">{{ remind?.remindLeadDay }}</td>
          <td class="remind-batch-num">{{ remind?.remindBatchNum }}</td>
          <td class="interval-duration">{{ remind?.intervalDuration }}</td>
          <td class="remind-times">{{ remind?.remindTimes }}</td>
          <td class="status" [ngSwitch]="remind?.dataState">
            <nz-tag [nzColor]="'#ff6112'" *ngSwitchCase="remind?.dataState === 2">{{
              remind?.dataState | status
            }}</nz-tag>
            <nz-tag [nzColor]="'#ffa742'" *ngSwitchCase="remind?.dataState === 0">{{
              remind?.dataState | status
            }}</nz-tag>
            <nz-tag [nzColor]="'#10B6B4'" *ngSwitchDefault>{{ remind?.dataState | status }}</nz-tag>
          </td>
          <td class="handle">
            <button nz-button nzType="link" (click)="addOrUpdateRemind(remind)">
              修改
            </button>
            <nz-divider nzType="vertical" *ngIf="currentUserInfo.roleId === 1"></nz-divider>
            <button nz-button nzType="link" (click)="lockOrUnlockRemind(remind)" *ngIf="currentUserInfo.roleId === 1">
              {{ remind?.dataState === 0 ? '解锁' : '锁定' }}
            </button>
            <nz-divider nzType="vertical" *ngIf="currentUserInfo.roleId === 1"></nz-divider>
            <button nz-button nzType="link" (click)="deleteRemind(remind)" *ngIf="currentUserInfo.roleId === 1">
              删除
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total>共 {{ total }} 条</ng-template>
  </nz-card>
</div>
