<div>
  <nz-card nzTitle="提醒任务管理">
    <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
      <div nz-col>
        <label for="stage">阶段：</label>
        <nz-select
          id="stage"
          [(ngModel)]="stage"
          [nzAllowClear]="true"
          nzPlaceHolder="全部"
          class="stage-select"
          (ngModelChange)="onChangeStage($event)"
        >
          <ng-container *ngFor="let stage of stages">
            <nz-option [nzValue]="stage?.idStage" [nzLabel]="stage?.stageName"></nz-option>
          </ng-container>
        </nz-select>

        <label for="step" class="ml-md">步骤：</label>
        <nz-select
          id="step"
          [(ngModel)]="step"
          nzPlaceHolder="全部(请先选择阶段)"
          class="step-select"
          (ngModelChange)="onChangeStep($event)"
          [nzAllowClear]="true"
        >
          <ng-container *ngFor="let step of steps">
            <nz-option [nzValue]="step.idNode" [nzLabel]="step.name"></nz-option>
          </ng-container>
        </nz-select>

        <label for="status" class="ml-md">状态：</label>
        <nz-select
          id="status"
          [(ngModel)]="status"
          nzPlaceHolder="全部"
          class="status-select"
          (ngModelChange)="onChangeStatus($event)"
        >
          <ng-container *ngFor="let status of statusOptions">
            <nz-option [nzValue]="status.value" [nzLabel]="status.label"></nz-option>
          </ng-container>
        </nz-select>
        <button (click)="search()" nz-button class="ml-sm">查询</button>
      </div>
      <div nz-col>
        <button nzType="primary" (click)="add()" nz-button>手动新增临时提醒任务</button>
      </div>
    </div>
  </nz-card>
  <nz-card>
    <nz-table
      #tasksTable
      [nzData]="tasks"
      [nzSize]="'middle'"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzShowTotal]="totalTemplate"
      [nzShowQuickJumper]="true"
      [nzShowSizeChanger]="true"
      [nzLoading]="tableLoading"
      [nzLoadingDelay]="2"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="getTasks()"
      (nzPageSizeChange)="getTasks()"
    >
      <thead>
        <tr>
          <th class="index" [nzWidth]="'70px'">序号</th>
          <th class="stage" [nzWidth]="'140px'">阶段</th>
          <th class="step" [nzWidth]="'110px'">步骤</th>
          <th class="role" [nzWidth]="'110px'">被提醒角色</th>
          <th class="type" [nzWidth]="'110px'">提醒类型</th>
          <th class="content" [nzWidth]="'170px'">提醒内容</th>
          <th class="plan-date" [nzWidth]="'170px'">计划提醒日期</th>
          <ng-container *ngIf="status === 0">
            <th class="status" [nzWidth]="'120px'">数据状态</th>
            <th class="handle" [nzWidth]="'170px'">操作</th>
          </ng-container>
          <ng-container *ngIf="status === 1">
            <th class="content" [nzWidth]="'170px'">实际提醒时间</th>
            <th class="read-date" [nzWidth]="'170px'">消息阅读时间</th>
            <th class="status" [nzWidth]="'170px'">完成时间</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasksTable.data; let i = index">
          <td class="index">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
          <td class="stage">{{ task?.stageName }}</td>
          <td class="step">{{ task?.nodeName }}</td>
          <td class="realname">{{ task?.manageUserRealName || task?.realName }}</td>
          <td class="type">{{ task?.remindType | remindType }}</td>
          <td class="content">{{ task?.content }}</td>
          <td class="plan-date">{{ task?.planDate }}</td>
          <ng-container *ngIf="status === 0">
            <td class="status" [ngSwitch]="task?.dataState">
              <nz-tag [nzColor]="'#ff6112'" *ngSwitchCase="task?.dataState === 2">{{
                task?.dataState | status
              }}</nz-tag>
              <nz-tag [nzColor]="'#ffa742'" *ngSwitchCase="task?.dataState === 0">{{
                task?.dataState | status
              }}</nz-tag>
              <nz-tag [nzColor]="'#10B6B4'" *ngSwitchDefault>{{ task?.dataState | status }}</nz-tag>
            </td>
            <td class="handle">
              <button nz-button nzType="link" (click)="lockOrUnlockTask(task)" *ngIf="currentUserInfo.roleId === 1">
                {{ task.dataState === 0 ? '解锁' : '锁定' }}
              </button>
            </td>
          </ng-container>
          <ng-container *ngIf="status === 1">
            <td class="content">{{ task?.actualTime }}</td>
            <td class="read-date">{{ task?.readTime | date: 'yyyy-MM-dd HH:MM:SS' }}</td>
            <td class="status">{{ task.completionTime }}</td>
          </ng-container>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total>共 {{ total }} 条</ng-template>
  </nz-card>
</div>
