<form nz-form [formGroup]="form" (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="8" [nzFor]="'stage'" nzRequired>所在阶段</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="16" [nzErrorTip]="stageErrorTpl">
      <nz-select id="stage" formControlName="stage" nzPlaceHolder="请选择一个阶段" [nzAllowClear]="true">
        <ng-container *ngFor="let stage of stages">
          <nz-option [nzValue]="stage?.idStage" [nzLabel]="stage?.stageName"></nz-option>
        </ng-container>
      </nz-select>
      <ng-template #stageErrorTpl let-stage>
        <ng-container *ngIf="stage.hasError('required')">
          所在阶段是必选项!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="8" [nzFor]="'stepName'" nzRequired>步骤名称</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="16" [nzErrorTip]="stepNameErrorTpl">
      <input
        nz-input
        formControlName="stepName"
        required
        id="stepName"
        placeholder="请输入步骤名称"
        autocomplete="off"
      />
      <ng-template #stepNameErrorTpl let-stepName>
        <ng-container *ngIf="stepName.hasError('required')">
          步骤名称是必填项!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="8" [nzFor]="'nodeBizType'" nzRequired>业务类型</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="16">
      <nz-select
        id="nodeBizType"
        formControlName="nodeBizType"
        nzPlaceHolder="请选择一个步骤业务类型"
        [nzAllowClear]="true"
      >
        <ng-container *ngFor="let nodeBizType of nodeBizTypes">
          <nz-option [nzValue]="nodeBizType?.value" [nzLabel]="nodeBizType?.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="8" [nzFor]="'step'" nzRequired>上一步骤</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="16" [nzErrorTip]="stepErrorTpl">
      <nz-select id="step" formControlName="step" nzPlaceHolder="请选择一个步骤" [nzAllowClear]="true">
        <ng-container *ngFor="let step of steps">
          <nz-option [nzValue]="step?.idNode" [nzLabel]="step?.name"></nz-option>
        </ng-container>
      </nz-select>
      <ng-template #stepErrorTpl let-step>
        <ng-container *ngIf="step.hasError('required')">
          上一步骤是必选项!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="8" [nzFor]="'duration'" nzRequired>活动时长(天)</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="16">
      <nz-select id="duration" formControlName="duration" nzPlaceHolder="请选择活动时长" [nzAllowClear]="true">
        <ng-container *ngFor="let duration of durations">
          <nz-option [nzValue]="duration?.value" [nzLabel]="duration?.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="8" [nzFor]="'samePreStep'" nzRequired>与上一步并行</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="16">
      <nz-select
        id="samePreStep"
        formControlName="samePreStep"
        nzPlaceHolder="请选择是否与上一步并行"
        [nzAllowClear]="true"
      >
        <ng-container *ngFor="let samePreStep of samePreSteps">
          <nz-option [nzValue]="samePreStep?.value" [nzLabel]="samePreStep?.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="8" [nzFor]="'sort'" nzRequired>排序</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="16">
      <nz-select id="sort" formControlName="sort" nzPlaceHolder="请选择该步骤的顺序" [nzAllowClear]="true">
        <ng-container *ngFor="let sort of sorts">
          <nz-option [nzValue]="sort?.value" [nzLabel]="sort?.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <div class="text-right">
    <button nz-button type="button" (click)="cancel()" [nzLoading]="uploading">
      取消
    </button>
    <button nz-button [nzType]="'primary'" [disabled]="!form.valid" type="submit" [nzLoading]="uploading">
      确认
    </button>
  </div>
</form>
